In [2]:
# Importing Libraries
import pandas as pd
import matplotlib.pyplot as plt 
import ast
import seaborn as sns

In [3]:
# Loading Dataset
df = pd.read_csv('C:/Users/hp/Downloads/PBJ_Daily_Nurse_Staffing_Q1_2024.csv', encoding='ISO-8859-1')

C:\Users\hp\AppData\Local\Temp\ipykernel_10400\174720353.py:2: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('C:/Users/hp/Downloads/PBJ_Daily_Nurse_Staffing_Q1_2024.csv', encoding='ISO-8859-1')

In [4]:
# Display the first few rows
df.head()

,PROVNUM,PROVNAME,CITY,STATE,COUNTY_NAME,COUNTY_FIPS,CY_Qtr,WorkDate,MDScensus,Hrs_RNDON,...,Hrs_LPN_ctr,Hrs_CNA,Hrs_CNA_emp,Hrs_CNA_ctr,Hrs_NAtrn,Hrs_NAtrn_emp,Hrs_NAtrn_ctr,Hrs_MedAide,Hrs_MedAide_emp,Hrs_MedAide_ctr
0,15009,"BURNS NURSING HOME, INC.",RUSSELLVILLE,AL,Franklin,59,2024Q1,20240101,50,8.0,...,0.0,156.34,156.34,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,15009,"BURNS NURSING HOME, INC.",RUSSELLVILLE,AL,Franklin,59,2024Q1,20240102,49,8.0,...,0.0,149.40,149.40,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,15009,"BURNS NURSING HOME, INC.",RUSSELLVILLE,AL,Franklin,59,2024Q1,20240103,49,8.0,...,0.0,147.15,147.15,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,15009,"BURNS NURSING HOME, INC.",RUSSELLVILLE,AL,Franklin,59,2024Q1,20240104,50,8.0,...,0.0,142.21,142.21,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,15009,"BURNS NURSING HOME, INC.",RUSSELLVILLE,AL,Franklin,59,2024Q1,20240105,51,8.0,...,0.0,149.40,149.40,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [5]:
# Checking each column and datatype 
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1330966 entries, 0 to 1330965
Data columns (total 33 columns):
 #   Column            Non-Null Count    Dtype
---  ------            --------------    -----
 0   PROVNUM           1330966 non-null  object
 1   PROVNAME          1330966 non-null  object
 2   CITY              1330966 non-null  object
 3   STATE             1330966 non-null  object
 4   COUNTY_NAME       1330966 non-null  object
 5   COUNTY_FIPS       1330966 non-null  int64
 6   CY_Qtr            1330966 non-null  object
 7   WorkDate          1330966 non-null  int64
 8   MDScensus         1330966 non-null  int64
 9   Hrs_RNDON         1330966 non-null  float64
 10  Hrs_RNDON_emp     1330966 non-null  float64
 11  Hrs_RNDON_ctr     1330966 non-null  float64
 12  Hrs_RNadmin       1330966 non-null  float64
 13  Hrs_RNadmin_emp   1330966 non-null  float64
 14  Hrs_RNadmin_ctr   1330966 non-null  float64
 15  Hrs_RN            1330966 non-null  float64
 16  Hrs_RN_emp        1330966 non-null  float64
 17  Hrs_RN_ctr        1330966 non-null  float64
 18  Hrs_LPNadmin      1330966 non-null  float64
 19  Hrs_LPNadmin_emp  1330966 non-null  float64
 20  Hrs_LPNadmin_ctr  1330966 non-null  float64
 21  Hrs_LPN           1330966 non-null  float64
 22  Hrs_LPN_emp       1330966 non-null  float64
 23  Hrs_LPN_ctr       1330966 non-null  float64
 24  Hrs_CNA           1330966 non-null  float64
 25  Hrs_CNA_emp       1330966 non-null  float64
 26  Hrs_CNA_ctr       1330966 non-null  float64
 27  Hrs_NAtrn         1330966 non-null  float64
 28  Hrs_NAtrn_emp     1330966 non-null  float64
 29  Hrs_NAtrn_ctr     1330966 non-null  float64
 30  Hrs_MedAide       1330966 non-null  float64
 31  Hrs_MedAide_emp   1330966 non-null  float64
 32  Hrs_MedAide_ctr   1330966 non-null  float64
dtypes: float64(24), int64(3), object(6)
memory usage: 335.1+ MB

In [6]:
# Convert WorkDate column to datetime
df['WorkDate'] = pd.to_datetime(df['WorkDate'], format='%Y%m%d', errors='coerce')
df['WorkDate'].head()

0   2024-01-01
1   2024-01-02
2   2024-01-03
3   2024-01-04
4   2024-01-05
Name: WorkDate, dtype: datetime64[ns]

In [7]:
# Identify Missing Values
df.isnull().sum()

PROVNUM             0
PROVNAME            0
CITY                0
STATE               0
COUNTY_NAME         0
COUNTY_FIPS         0
CY_Qtr              0
WorkDate            0
MDScensus           0
Hrs_RNDON           0
Hrs_RNDON_emp       0
Hrs_RNDON_ctr       0
Hrs_RNadmin         0
Hrs_RNadmin_emp     0
Hrs_RNadmin_ctr     0
Hrs_RN              0
Hrs_RN_emp          0
Hrs_RN_ctr          0
Hrs_LPNadmin        0
Hrs_LPNadmin_emp    0
Hrs_LPNadmin_ctr    0
Hrs_LPN             0
Hrs_LPN_emp         0
Hrs_LPN_ctr         0
Hrs_CNA             0
Hrs_CNA_emp         0
Hrs_CNA_ctr         0
Hrs_NAtrn           0
Hrs_NAtrn_emp       0
Hrs_NAtrn_ctr       0
Hrs_MedAide         0
Hrs_MedAide_emp     0
Hrs_MedAide_ctr     0
dtype: int64

In [11]:
# Ensure categorical columns contain expected values.
df['STATE'].unique()
df['CY_Qtr'].unique()

array(['2024Q1'], dtype=object)

In [9]:
# Extract year and month from WorkDate
df['Year'] = df['WorkDate'].dt.year
df['Month'] = df['WorkDate'].dt.month

In [15]:
# Summary of all columns, checking for Anomalies

df.describe(include='all')

,PROVNUM,PROVNAME,CITY,STATE,COUNTY_NAME,COUNTY_FIPS,CY_Qtr,WorkDate,MDScensus,Hrs_RNDON,...,Hrs_CNA_emp,Hrs_CNA_ctr,Hrs_NAtrn,Hrs_NAtrn_emp,Hrs_NAtrn_ctr,Hrs_MedAide,Hrs_MedAide_emp,Hrs_MedAide_ctr,Year,Month
count,1330966.0,1330966,1330966,1330966,1330966,1.330966e+06,1330966,1330966,1.330966e+06,1.330966e+06,...,1.330966e+06,1.330966e+06,1.330966e+06,1.330966e+06,1.330966e+06,1.330966e+06,1.330966e+06,1.330966e+06,1330966.0,1.330966e+06
unique,14658.0,14441,5092,52,1671,NaN,1,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,15009.0,MILLER'S MERRY MANOR,CHICAGO,TX,Los Angeles,NaN,2024Q1,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,91.0,1092,7098,105924,33124,NaN,1330966,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,NaN,NaN,NaN,NaN,9.110645e+01,NaN,2024-02-14 23:59:59.999999744,8.342205e+01,5.202604e+00,...,1.581772e+02,1.297474e+01,4.245751e+00,4.183379e+00,6.237254e-02,8.479371e+00,8.256561e+00,2.228107e-01,2024.0,2.000000e+00
min,NaN,NaN,NaN,NaN,NaN,1.000000e+00,NaN,2024-01-01 00:00:00,0.000000e+00,0.000000e+00,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,2024.0,1.000000e+00
25%,NaN,NaN,NaN,NaN,NaN,3.100000e+01,NaN,2024-01-23 00:00:00,5.100000e+01,0.000000e+00,...,8.800000e+01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,2024.0,1.000000e+00
50%,NaN,NaN,NaN,NaN,NaN,6.900000e+01,NaN,2024-02-15 00:00:00,7.600000e+01,8.000000e+00,...,1.367500e+02,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,2024.0,2.000000e+00
75%,NaN,NaN,NaN,NaN,NaN,1.170000e+02,NaN,2024-03-09 00:00:00,1.040000e+02,8.000000e+00,...,2.030600e+02,1.100000e+01,0.000000e+00,0.000000e+00,0.000000e+00,1.125000e+01,1.075000e+01,0.000000e+00,2024.0,3.000000e+00
max,NaN,NaN,NaN,NaN,NaN,8.400000e+02,NaN,2024-03-31 00:00:00,7.430000e+02,3.277500e+02,...,1.573080e+03,6.943000e+02,4.520000e+02,2.790200e+02,2.805000e+02,3.956500e+02,3.956500e+02,1.289000e+02,2024.0,3.000000e+00
std,NaN,NaN,NaN,NaN,NaN,9.920207e+01,NaN,NaN,4.913768e+01,4.548220e+00,...,1.062863e+02,3.255127e+01,1.310614e+01,1.274111e+01,2.106869e+00,1.760569e+01,1.720677e+01,2.190094e+00,0.0,8.254206e-01

In [13]:
df

,PROVNUM,PROVNAME,CITY,STATE,COUNTY_NAME,COUNTY_FIPS,CY_Qtr,WorkDate,MDScensus,Hrs_RNDON,...,Hrs_CNA_emp,Hrs_CNA_ctr,Hrs_NAtrn,Hrs_NAtrn_emp,Hrs_NAtrn_ctr,Hrs_MedAide,Hrs_MedAide_emp,Hrs_MedAide_ctr,Year,Month
0,15009,"BURNS NURSING HOME, INC.",RUSSELLVILLE,AL,Franklin,59,2024Q1,2024-01-01,50,8.0,...,156.34,0.0,0.00,0.00,0.0,0.00,0.00,0.0,2024,1
1,15009,"BURNS NURSING HOME, INC.",RUSSELLVILLE,AL,Franklin,59,2024Q1,2024-01-02,49,8.0,...,149.40,0.0,0.00,0.00,0.0,0.00,0.00,0.0,2024,1
2,15009,"BURNS NURSING HOME, INC.",RUSSELLVILLE,AL,Franklin,59,2024Q1,2024-01-03,49,8.0,...,147.15,0.0,0.00,0.00,0.0,0.00,0.00,0.0,2024,1
3,15009,"BURNS NURSING HOME, INC.",RUSSELLVILLE,AL,Franklin,59,2024Q1,2024-01-04,50,8.0,...,142.21,0.0,0.00,0.00,0.0,0.00,0.00,0.0,2024,1
4,15009,"BURNS NURSING HOME, INC.",RUSSELLVILLE,AL,Franklin,59,2024Q1,2024-01-05,51,8.0,...,149.40,0.0,0.00,0.00,0.0,0.00,0.00,0.0,2024,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1330961,745038,TIERRA ESTE NURSING AND REHABILITATION CENTER,EL PASO,TX,El Paso,141,2024Q1,2024-03-27,81,8.0,...,139.88,0.0,15.34,15.34,0.0,22.70,22.70,0.0,2024,3
1330962,745038,TIERRA ESTE NURSING AND REHABILITATION CENTER,EL PASO,TX,El Paso,141,2024Q1,2024-03-28,83,8.0,...,158.07,0.0,16.26,16.26,0.0,17.47,17.47,0.0,2024,3
1330963,745038,TIERRA ESTE NURSING AND REHABILITATION CENTER,EL PASO,TX,El Paso,141,2024Q1,2024-03-29,85,8.0,...,146.04,0.0,5.57,5.57,0.0,17.94,17.94,0.0,2024,3
1330964,745038,TIERRA ESTE NURSING AND REHABILITATION CENTER,EL PASO,TX,El Paso,141,2024Q1,2024-03-30,82,0.0,...,115.43,0.0,0.00,0.00,0.0,14.35,14.35,0.0,2024,3
1330965,745038,TIERRA ESTE NURSING AND REHABILITATION CENTER,EL PASO,TX,El Paso,141,2024Q1,2024-03-31,82,0.0,...,96.48,0.0,9.63,9.63,0.0,14.62,14.62,0.0,2024,3

In [14]:
# Save the cleaned dataset to a new CSV file
df.to_csv('C:/Users/hp/Downloads/Cleaned_PBJ_Daily_Nurse_Staffing_Q1_2024.csv', index=False)

# Full Code

In [ ]:
df = pd.read_csv('C:/Users/hp/Downloads/PBJ_Daily_Nurse_Staffing_Q1_2024.csv')
df['WorkDate'] = pd.to_datetime(df['WorkDate'], format='%Y%m%d', errors='coerce')
df['Year'] = df['WorkDate'].dt.year
df['Month'] = df['WorkDate'].dt.month
df.to_csv('C:/Users/hp/Downloads/Cleaned_PBJ_Daily_Nurse_Staffing_Q1_2024.csv', index=False)